.head {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
}

.head h1 {
  font-size: 20;
  margin: 0;
}

.head ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 5px;
}

.head a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}
