.table tr:nth-child(2n) {
  background-color: rgb(232, 232, 232);
}

.table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
}

.table td {
  padding: 5px 10px;
}

.table th {
  padding: 10px;
}

.table th button {
  background-color: white;
  color: rgb(1, 92, 177);
  font-size: 20px;
  padding: 2px 7px;
  border-radius: 20px;
}

.table textarea {
  border: none;
  background-color: transparent;
  width: 100%;
}

.table thead tr {
  background-color: rgb(1, 92, 177);
  color: white;
}

.table td button {
  padding: 5px;
  border-radius: 5px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 5px;
}
